body {
    font-family: monospace;
    white-space: pre;
    padding: 20px;
    color: #dcdcdc;
    background-color: #1c1c1c;
    font-size: 40px;
    font-style: bold;
    overflow: hidden;
}
#mobileButton {
    display: none;
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
    background: #222;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
@media (hover: none) and (pointer: coarse) {
    #mobileButton {
        display: block;
    }

}
